<div class="container">
  <%= provide(:title, "#{@img.title}") %>
  <h1><%= @img.title %></h1>
  <% if !current_admin_user.nil? %>
    <%= number_with_delimiter(@page_views) %>
    <%= link_to(edit_img_path(@img)) do %>
    編集
    <% end %>
  <% end %>
  <div  class="stags">
    <% @img.tags.each do |tag| %>
      <%= link_to(tag_path(tag), class: "btn btn-primary btn-sm") do%>
      <%= p tag.name %>
      <% end %>
    <% end %>
  </div>
    <p>
    <i><%= @img.created_at.to_s(:published) %> </i>
  </p>
<%= image_tag @img.image.url, :class => "float-left pdr10 eimg" if @img.image?  %>
    <%= simple_format(@img.content) %></p>
</div>
<div id="masonry-container">
    <% @imgs.each do |r| %>
      <div class="mas-box">
        <%= link_to(img_path(r)) do %>
          <div class="bbox">
            <%= image_tag r.image.mid.url if r.image?  %>
            <%= r.title %>
            <div class="row imgitem">
            </div>
          </div>
        <% end %>
        <div  class="tags">
          <% r.tags.each do |tag| %>
            <%= link_to(tag_path(tag)) do%>
            <%= p tag.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
