
    <div id="wrapper">
      <div class="txc">
      <h1>カサリサ</h1>
      <p>
        カサリサ（カサマリサーチ）は、笠間に関する記事を収集する個人運営サイトです。
      </p>
    </div>
      <%= paginate @entry %>
      <div id="masonry-container">
          <% @entry.each do |r| %>
            <div class="mas-box">
              <%= link_to("/entries/show/#{r.id}") do %>
                <div class="bbox">
                  <%= image_tag r.image.mid.url if r.image?  %>
                  <%= r.title %>
                  <div class="row entryitem">
                    <div class="col"><%= time_ago_in_words(r.published)+"前" %></div>
                    <div class="col right"><%= if r.author.present? then r.author elsif r.feed.present? then r.feed.name  end %></div>
                  </div>
                </div>
              <% end %>
              <div  class="tags">
                <% r.tags.each do |tag| %>
                  <%= link_to("/tags/show/#{tag.id}") do%>
                  <%= p tag.name %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
      <%= paginate @entry %>
    </div>
