<%= paginate @entry %>
    <div id="wrapper">
      <div id="masonry-container">
        <% @entry.each do |r| %>
        <%= link_to("entries/show/#{r.id}") do %>
          <div class="mas-box">
          <%= image_tag r.image.mid.url if r.image?  %>
          <%= r.title %>
          <div class="row entryitem">
            <div class="col"><%= time_ago_in_words(r.published)+"å‰" %></div>
            <div class="col right"><%= if r.author.present? then r.author elsif r.feed.name.present? then r.feed.name  end %></div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

<%= paginate @entry %>
