<div class="container">
  <%= provide(:title, "#{@entry.title}by#{@entry.author}") %>
  <h1><%= @entry.title %></h1>
  <div  class="stags">
    <% @entry.tags.each do |tag| %>
      <%= link_to("/tags/show/#{tag.id}", class: "btn btn-primary btn-sm") do%>
      <%= p tag.name %>
      <% end %>
    <% end %>
  </div>
    <p>
    <i><%= @entry.published.to_s(:published) %> by
      <%= link_to("/feeds/#{@entry.feed.id}") do%>
      <%= p @entry.author %>
      <% end %>
    </i>
  </p>
<%= image_tag @entry.image.url, :class => "float-left pdr10 eimg" if @entry.image?  %>
    <%= simple_format(@entry.content) %></p>
    <%= link_to("#{@entry.url}",:target=>"_blank") do%>
    <div class="clear"></div>
    <span type="button" class="btn btn-primary btn-lg btn-block mg10">掲載元で続きを読む</span>
    <% end %>
</div>
