<div class="container">
  <%= provide(:title, "#{@entry.title}by#{@entry.author}") %>
  <h1><%= @entry.title %></h1>
  <% if !current_admin_user.nil? %>
  <%= number_with_delimiter(@page_views) %>
  <% end %>
  <div  class="stags">
    <% @entry.tags.each do |tag| %>
      <%= link_to(tag_path(tag), class: "btn btn-primary btn-sm") do%>
      <%= p tag.name %>
      <% end %>
    <% end %>
  </div>
    <p>
    <i><%= @entry.published.to_s(:published) %> by
      <%= link_to("/feeds/#{@entry.feed.id}") do%>
      <%= p @entry.author %>
      <% end %>
    </i>
  </p>
<%= image_tag @entry.image.url, :class => "float-left pdr10 eimg" if @entry.image?  %>
    <%= simple_format(@entry.content) %></p>
    <%= link_to("#{@entry.url}",:target=>"_blank") do%>
    <div class="clear"></div>
    <span type="button" class="btn btn-primary btn-lg btn-block mg10">掲載元で続きを読む</span>
    <% end %>
</div>
<div class="masonry-container">
    <% @entries.each do |r| %>
      <div class="mas-box">
        <%= link_to(entry_path(r)) do %>
          <div class="bbox">
            <%= image_tag r.image.mid.url if r.image?  %>
            <%= r.title %>
            <div class="row entryitem">
              <div class="col"><%= time_ago_in_words(r.published)+"前" %></div>
              <div class="col right"><%= if r.author.present? then r.author elsif r.feed.present? then r.feed.name  end %></div>
            </div>
          </div>
        <% end %>
        <div  class="tags">
          <% r.tags.each do |tag| %>
            <%= link_to(tag_path(tag)) do%>
            <%= p tag.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
