<div class="container">
  <%= provide(:title, "#{@entry.title}by#{@entry.author}") %>
  <h1><%= link_to @entry.title, @entry.url %></h1>
  <i>投稿日：<%= @entry.published.to_s(:published_on) %> by <%= @entry.author %></i>
  <p><%= @entry.tag_list;%></p>
  <p>
<%= image_tag @entry.image.url, :class => "rounded float-left pdr10" if @entry.image?  %>
    <%= @entry.content%></p>
</div>
